*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
 .navigation
 .idea/caches
 .idea/libraries
 .idea/modules.xml
 .idea/workspace.xml
 .idea/navEditor.xml
 .idea/assetWizardSettings.xml
 .idea/codeStyles
 .idea/dictionaries
 .idea/inspectionProfiles
 .idea/runConfigurations
.settings
.classpath
.project
*.jks
*.keystore
keystore.properties
google-services.json
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
GEMINI.md

# App specific
app/build/
app/release/
*.apk
*.aab
