<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:name="org.fossify.commons.FossifyApp"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.fossify.math.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.fossify.math.activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name="org.fossify.math.activities.UnitConverterActivity"
            android:exported="false" />

        <activity
            android:name="org.fossify.math.activities.UnitConverterPickerActivity"
            android:exported="false" />

        <activity
            android:name="org.fossify.math.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="org.fossify.math.activities.DateCalculatorActivity"
            android:exported="false"
            android:label="@string/date_calculator"
            android:parentActivityName=".activities.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>